@model MVC_Group_Project.Models.ModelsForBiddingPage

@{
    ViewBag.Title = "BiddingPage";
}

<h2>Bid Now!</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4" style="align-content:center">
            <img src="../../@Html.DisplayFor(model => model.bItem.ItemImageURL)" style="height:250px; width:350px" class="pic" alt="image" />
            <img src="../../@Html.DisplayFor(model => model.bItem.ItemImageURL)" class="picbig" alt="image" />
        </div>
        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(model => model.bItem.ItemName)</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                               
                                @*<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">*@
                                @Html.EditorFor(model => model.onGB.BidPrice, new { htmlAttributes = new { @class = "form-control" } })
                                <div>
                                    <button id="bidButton" type="submit" class="btn btn-danger">Place Bid</button>
                                </div>
                                @*<div class="input-group-addon">.00</div>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <dl>
                                <dd>
                                    Total Bidders:
                                </dd>
                                <dd>
                                    Time Left:
                                </dd>
                                <dd>
                                    Starting Bid:
                                </dd>
                                <dd>
                                    Highest Bid:
                                </dd>
                            </dl>
                            <div style="padding-bottom:7px">Item Description:</div>
                            <p style="width:400px;">
                                @*@Html.DisplayFor(model => model.bItem.ItemDescription)*@
                                @Html.Raw(Html.Encode(Model.bItem.ItemDescription).Replace("\n", "<br />"))
                            </p>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <dl>
                                <dt>
                                    <span style="color:deepskyblue">[@Html.DisplayFor(model => model.TotalBidders)]</span>
                                </dt>
                                <dt>
                                    @Html.DisplayFor(model => model.bItem.BidEndTime)
                                </dt>
                                <dt>
                                    @Html.DisplayFor(model => model.bItem.BidStartPrice)
                                </dt>
                                <dt>
                                    @Html.DisplayFor(model => model.bItem.HighestBidPrice)
                                </dt>
                            </dl>
                        </div>

                        @if (ViewData["Approved"] != null)
                        {
                            <script>
                                alertify.success("You have successfully bid to this item!");
                            </script>
                            ViewData["Approved"] = null;
                        }

                        @if (ViewData["LowerBid"] != null)
                        {
                            <script>
                                alertify.error("Please put an amount higher than the current/starting bid!");
                            </script>
                            ViewData["LowerBid"] = null;
                        }
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@Html.ActionLink("Back to List", "Index", "Home")

@section Scripts{
    @Scripts.Render("~/Scripts/alertify.js-0.3.11/src/alertify.js")
    
}

