@model MVC_Group_Project.Models.BiddingItem

@{
    ViewBag.Title = "Create Bid Item";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/alertifyjs/alertify.js"></script>
<link href="~/Scripts/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/alertifyjs/css/themes/default.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "BiddingItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Place new bid:</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryID, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubCategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, "Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control", maxlength = "30" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemDescription, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemImageURL, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="file" name="file" />
                @Html.ValidationMessageFor(model => model.ItemImageURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BidStartTime, "Bid Start", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BidStartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BidStartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BidEndTime, "Bid End", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BidEndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BidEndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BidStartPrice, "Start Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BidStartPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BidStartPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewData["Success"] == "false")
        {
            <script>
                alertify.error("Please put an image!");
            </script>
            ViewData["Success"] = null;
        }
        else if(ViewData["Success"] == "NoCategory")
        {
            <script>
                alertify.log("There are no Categories to pick from please contact admin@robertsoncollege.net.", "", 0);
            </script>
            ViewData["Success"] = null;
        }
        else
        {
            <div></div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @if (User.IsInRole("Member"))
    {
        @Html.ActionLink("Home", "Index", "Home")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/alertifyjs/alertify.js")


}
