@model MVC_Group_Project.Models.BiddingItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h4 class="text-danger">Are you sure you want to delete this?</h4>
<div>
    
    <hr />
    <div class="panel panel-danger" style="width:400px; text-align:left">

        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center">Item</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-5">
                <dl>
                    <dt>
                        @Html.DisplayName("SubCategory")
                    </dt>

                    <dt>
                        @Html.DisplayName("Item")
                    </dt>

                    <dt>
                        @Html.DisplayName("Description")
                    </dt>

                    <dt>
                        @Html.DisplayName("Start Time")
                    </dt>

                    <dt>
                        @Html.DisplayName("End Time")
                    </dt>

                    <dt>
                        @Html.DisplayName("Start Price")
                    </dt>

                    <dt>
                        @Html.DisplayName("Image")
                    </dt>
                    @*<dt>
                        @Html.DisplayName("Highest Price")
                        </dt>*@
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dd>
                        @Html.DisplayFor(model => model.Sub.SubCategoryName)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.ItemName)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.ItemDescription)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.BidStartTime)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.BidEndTime)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.BidStartPrice)
                    </dd>
                    <dd>
                        <img src="../../@Html.DisplayFor(model => model.ItemImageURL)" style="height:150px; width:150px" />
                    </dd>
                    @*<dd>
                            @Html.DisplayFor(model => model.HighestBidPrice)
                    </dd>*@
                </dl>
            </div>

        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
