@model MVC_Group_Project.Models.BiddingItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    <h4>BiddingItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("SubCategory")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub.SubCategoryName)
        </dd>
        <dt>
            @Html.DisplayName("Item")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayName("Image")
        </dt>

        <dd>
            <img src="../../@Html.DisplayFor(model => model.ItemImageURL)" style="height:150px; width:150px" />
        </dd>

        <dt>
            @Html.DisplayName("Start Time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidStartTime)
        </dd>

        <dt>
            @Html.DisplayName("End Time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidEndTime)
        </dd>

        <dt>
            @Html.DisplayName("Start Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidStartPrice)
        </dd>

        @*<dt>
                @Html.DisplayName("Highest Price")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HighestBidPrice)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BiddingItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
