@model MVC_Group_Project.Models.BiddingItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    
    <hr />
    <div class="panel panel-primary" style="width:400px; text-align:left">
      
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center">Item</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-5">
                <dl>
                    <dt>
                        @Html.DisplayName("SubCategory")
                    </dt>
                   
                    <dt>
                        @Html.DisplayName("Item")
                    </dt>

                    <dt>
                        @Html.DisplayName("Description")
                    </dt>
               
                    <dt>
                        @Html.DisplayName("Start Time")
                    </dt>

                    <dt>
                        @Html.DisplayName("End Time")
                    </dt>

                    <dt>
                        @Html.DisplayName("Start Price")
                    </dt>

                    <dt>
                        @Html.DisplayName("Image")
                    </dt>
                    @*<dt>
                    @Html.DisplayName("Highest Price")
                    </dt>*@               
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dd>
                        @Html.DisplayFor(model => model.Sub.SubCategoryName)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.ItemName)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.ItemDescription)
                    </dd>
                    
                    <dd>
                        @Html.DisplayFor(model => model.BidStartTime)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.BidEndTime)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.BidStartPrice)
                    </dd>
                    <dd>
                        <img src="../../@Html.DisplayFor(model => model.ItemImageURL)" style="height:150px; width:150px" />
                    </dd>
                    @*<dd>
                    @Html.DisplayFor(model => model.HighestBidPrice)
                </dd>*@
                </dl>
            </div>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BiddingItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
