@model MVC_Group_Project.Models.BiddingItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    
    <hr />
    <div class="panel panel-primary" style="width:500px; text-align:center">
      
        <div class="panel-heading">
            <h3 class="panel-title">Item</h3>
        </div>
        <div class="panel-body">
            <div>
                @Html.DisplayName("SubCategory")
                <div>
                    @Html.DisplayFor(model => model.Sub.SubCategoryName)
                </div>
            </div>

            
            <div>
                @Html.DisplayName("Item")
            </div>

            <div>
                @Html.DisplayFor(model => model.ItemName)
            </div>

            <div>
                @Html.DisplayName("Description")
            </div>

            <div>
                @Html.DisplayFor(model => model.ItemDescription)
            </div>

            <div>
                @Html.DisplayName("Image")
            </div>

            <div>
                <img src="../../@Html.DisplayFor(model => model.ItemImageURL)" style="height:150px; width:150px" />
            </div>

            <div>
                @Html.DisplayName("Start Time")
            </div>

            <div>
                @Html.DisplayFor(model => model.BidStartTime)
            </div>

            <div>
                @Html.DisplayName("End Time")
            </div>

            <div>
                @Html.DisplayFor(model => model.BidEndTime)
            </div>

            <div>
                @Html.DisplayName("Start Price")
            </div>

            <dd>
                @Html.DisplayFor(model => model.BidStartPrice)
            </dd>

            @*<dt>
                @Html.DisplayName("Highest Price")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HighestBidPrice)
            </dd>*@
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BiddingItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
