@model IEnumerable<MVC_Group_Project.Models.CreditCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardHolderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CreditCardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CreditCardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CreditCardID })
        </td>
    </tr>
}

</table>
