@model MVC_Group_Project.Models.RoleViewModel

@{
    ViewBag.Title = "Edit Roles";
}

<h2>Edit Roles</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        <div class="panel panel-warning" style="width:300px; text-align:center">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="panel-heading">
                <h3 class="panel-title">RoleName</h3>
                @*@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
            </div>
                <div class="panel-body">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
          

            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
