@model MVC_Group_Project.Models.Reports
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>
<hr />
<ul class="nav nav-tabs">
    <li class="active"><a href="#BiddingItems" data-toggle="tab">Bidding Items</a></li>
    <li><a href="#OnGoingBids" data-toggle="tab">On Going Bids</a></li>
    <li><a href="#Transaction" data-toggle="tab">Transaction</a></li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="BiddingItems">
        <div class="row">
            <div class="col-md-12">
            
                <table class="table table-striped table-hover ">
                    <tr>
                        <th>
                            @Html.DisplayName("ItemID")
                        </th>
                        <th>
                            @Html.DisplayName("Item Name")
                        </th>
                        <th>
                            @Html.DisplayName(" Bid Date")
                        </th>
                        
                    </tr>
                    @foreach (var item in Model.BidItems.ToList())
                    {
                        <tr>    
                            <td>
                                @Html.DisplayFor(i => item.BiddingItemID)
                            </td>                      
                            <td>
                                @Html.DisplayFor(i => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.StartAndEnd)
                            </td>
                           
                        </tr>                      
                    }
                    </table>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="OnGoingBids">
        <div class="form-horizontal">

            <table class="table table-striped table-hover ">
                <tr>
                    <th>
                        @Html.DisplayName("Bidder Email")
                    </th>
                    <th>
                        @Html.DisplayName("Item Name")
                    </th>
                    <th>
                        @Html.DisplayName(" Bid Date")
                    </th>
                    <th>
                        @Html.DisplayName("Highest Bid")
                    </th>

                </tr>
                @foreach (var item in Model.LiveBids.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(i => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(i => i.BidItems.Single(iT => iT.BiddingItemID == item.BiddingItemID).ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.BidTime)
                        </td>
                        <td>
                            @Html.DisplayFor(i => i.BidItems.OrderByDescending(a => a.HighestBidPrice).Where(b => b.BiddingItemID == item.BiddingItemID).FirstOrDefault().HighestBidPrice)
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>

    <div class="tab-pane fade" id="Transaction">
        <div class="form-horizontal">
            <table class="table table-striped table-hover ">
                <tr>
                    <th>
                        @Html.DisplayName("Bidder Email")
                    </th>
                    <th>
                        @Html.DisplayName("Item Name")
                    </th>
                    <th>
                        @Html.DisplayName(" Bid Date")
                    </th>
                    <th>
                        @Html.DisplayName("Highest Bid")
                    </th>

                </tr>
                @foreach (var item in Model.LiveBids.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(i => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(i => i.BidItems.Single(iT => iT.BiddingItemID == item.BiddingItemID).ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.BidTime)
                        </td>
                        <td>
                            @Html.DisplayFor(i => i.BidItems.OrderByDescending(a => a.HighestBidPrice).Where(b => b.BiddingItemID == item.BiddingItemID).FirstOrDefault().HighestBidPrice)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
