@model IEnumerable<MVC_Group_Project.Models.BiddingItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Add New Item</h1>
    <p class="lead">Add new item here!</p>
    <a>@Html.ActionLink("Bid New Item", "Create", "BiddingItems")</a>
</div>



@foreach (var item in Model) {
    
    <div class="panel panel-primary" style="width:300px; text-align:center">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(modelItem => item.ItemName)</h3>
        </div>
        <div class="panel-body" style="text-align:center">
            
                <img src="../../@Html.DisplayFor(model => item.ItemImageURL)" style="height:150px; width:200px" />
                <dl>

                    @*@Html.DisplayFor(modelItem => item.BidStartTime)
                    @Html.DisplayFor(modelItem => item.BidEndTime)
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                    *@
                    <dt>
                        @Html.DisplayFor(modelItem => item.ItemDescription)
                    </dt>
                    <dt>
                        @Html.DisplayFor(modelItem => item.BidEndTime)
                    </dt>
                    <dt>
                        @Html.DisplayFor(modelItem => item.BidStartPrice)
                      
                    </dt>              
            </dl>
            <div class="btn btn-warning" @Html.ActionLink("Bid Now!", "Create", "BiddingItems")><span class="glyphicon glyphicon-ok"></span> </div> 
        </div>
    </div>
    
 }