@model IEnumerable<MVC_Group_Project.Models.BiddingItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Add New Item</h1>
    <p class="lead">Add new item here!</p>
    <a>@Html.ActionLink("Bid New Item", "Create", "BiddingItems")</a>
</div>



@foreach (var item in Model) {
    <table class="table">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../@Html.DisplayFor(model => item.ItemImageURL)" style="height:50px; width:50px" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidStartTime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidEndTime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidStartPrice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-default" @Html.ActionLink("Bid","Create","BiddingItems")></a>
            </td>
        </tr>
    </table>
 }