@model IEnumerable<MVC_Group_Project.Models.BiddingItem>

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link href="~/Scripts/jquery.countdown.package-2.0.2/jquery.countdown.css" rel="stylesheet" />
<script src="~/Scripts/jquery.countdown.package-2.0.2/jquery.countdown.js"></script>
<script src="~/Scripts/jquery.countdown.package-2.0.2/jquery.plugin.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/alertify.js-0.3.11/src/alertify.js"></script>
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
<link href="~/Scripts/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/Scripts/contentHover.js")
    @Scripts.Render("~/Scripts/jquery.countdown.package-2.0.2/jquery.plugin.js")
    @Scripts.Render("~/Scripts/jquery.countdown.package-2.0.2/jquery.countdown.js")
    @Scripts.Render("~/Scripts/alertify.js-0.3.11/src/alertify.js")

    <script type="text/javascript">
        function AddHoverEffectOnItemByID(element) {
            $('.' + element).contenthover({
                overlay_width: 200,
                overlay_height: 120,
                effect: 'slide',
                slide_direction: 'right',
                overlay_x_position: 'right',
                overlay_y_position: 'center',
                overlay_background: '#000',
                overlay_opacity: 0.8
            });
        }

        $(document).ready(function () {
            AddHoverEffectOnItemByID("MyAwesomeHoverAbilities");
        })
    </script>
}
<hr />
<div class="jumbotron">
        <div class="container">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color:powderblue"></li>
                <li data-target="#myCarousel" data-slide-to="1" style="background-color:powderblue"></li>
                <li data-target="#myCarousel" data-slide-to="2" style="background-color:powderblue"></li>
            </ol>
            <div style="align-content:center">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/bidimage2.jpg" />
                        <div class="container">
                            <div class="carousel-caption">                               
                                <a>@Html.ActionLink("Add Bid Item Here!", "Create", "BiddingItems")</a>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Images/bidimage3.jpg" />
                        <div class="container">
                            <div class="carousel-caption">                               
                                <a>@Html.ActionLink("Add Bid Item Here!", "Create", "BiddingItems")</a>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Images/bidimage4.jpg" />
                        <div class="container">
                            <div class="carousel-caption">                              
                                <a>@Html.ActionLink("Add Bid Item Here!", "Create", "BiddingItems")</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>
    </div>
</div>
<h4 class="text-info">Live Bidding</h4>
<hr /> 

@*<div class="jumbotron">
    <div style="text-align:center">
        <img height="200" width="600" src="~/Images/bidding3.jpg" />
    </div>
   
   
    <h2>New Item</h2>
    <a>@Html.ActionLink("Add Bid New Item Here!", "Create", "BiddingItems")</a>
</div>*@


<div style="align-self:center">
    @foreach (var item in Model)
    {
        <div class="col-sm-3" id="@item.ItemName.Replace(" ", "")@item.BiddingItemID@string.Concat("Main")">
            <div class="panel panel-primary" style="text-align:center">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => item.ItemName)</h3>
                </div>
                <div class="panel-body" style="padding-left:27px">
                    <img class="MyAwesomeHoverAbilities" id="@item.ItemName.Replace(" ", "")@Math.Round(item.HighestBidPrice, 0)" style="height:150px; width:200px;" src="~/@item.ItemImageURL" class="img-responsive" alt="Responsive image" />
                    <img class="MyAwesomeHoverAbilities" id="@item.ItemName.Replace(" ", "")@item.BiddingItemID" style="position: absolute; top: 0; left: 0;height:150px; width:200px;" />

                    <div class="contenthover">
                        <dl>
                            @*<dt>
                                    @Html.DisplayFor(modelItem => item.ItemDescription)
                                </dt>*@
                            <dt>
                                Bid Ends: @Html.DisplayFor(modelItem => item.BidEndTime)
                            </dt>
                            <dt>
                                Starting Bid: @Html.DisplayFor(modelItem => item.BidStartPrice)
                            </dt>
                        </dl>
                        <div class="btn btn-warning">@Html.ActionLink("Bid Now!", "BidNow", "Bid", new { id = item.BiddingItemID }, null)</div>
                    </div>
                </div>

                <div id="@item.BiddingItemID" class="panel-footer" style="padding-bottom: 35px;"></div>
                <script>
                    $(document).ready(function () {
                        var startBid = new Date();
                        var endBid = new Date(@item.BidEndTime.ToString("yyyy,MM-1,dd"));
                        var timeLeft = Math.abs(endBid - startBid) / 1000;
                        $('#@item.BiddingItemID').countdown({ until: timeLeft, format: 'HMS' });

                        if (endBid <= new Date()) {
                            var ifItemHasBids = parseInt(@item.HighestBidPrice);
                            if (ifItemHasBids != 0.00 || ifItemHasBids != 0) {
                                $("#@item.ItemName.Replace(" ", "")@item.BiddingItemID").attr("src", "../Images/sold-sign.png").show(); // will show the expired image on top of the item img
                                $('#@item.ItemName.Replace(" ", "")@Math.Round(item.HighestBidPrice,0)').css({ position: "absolute", left: "43px" }); // will add css for the image not to go out of the panel
                                $("#@item.ItemName.Replace(" ", "")@item.BiddingItemID").removeClass("MyAwesomeHoverAbilities"); // Item Picture, removed the hover effect on expired items, so the users cant bid on it anymore
                                $('#@item.ItemName.Replace(" ", "")@Math.Round(item.HighestBidPrice,0)').removeClass("MyAwesomeHoverAbilities"); // Expired Picture, removed the hover effect on expired items, so the users cant bid on it anymore
                                $('#@item.ItemName.Replace(" ", "")@item.BiddingItemID').css({ position: "absolute", left: "43px", top: "54px" }); // will add css for the image not to go out of the panel

                                $('#@item.BiddingItemID').countdown('destroy'); // removed the timer on expired items

                                // If the item is expired it will fadeout then removed
                                $('#@item.ItemName.Replace(" ", "")@item.BiddingItemID@string.Concat("Main")').fadeOut(7500, function () {
                                    $('#@item.ItemName.Replace(" ", "")@item.BiddingItemID@string.Concat("Main")').remove();
                                    alertify.success("@item.ItemName@string.Concat(" has been sold!")");
                                });
                            }
                            else {
                                $("#@item.ItemName.Replace(" ", "")@item.BiddingItemID").attr("src", "../Images/sash-expired.png").show(); // will show the expired image on top of the item img
                                $('#@item.ItemName.Replace(" ", "")@Math.Round(item.HighestBidPrice,0)').css({ position: "absolute", left: "43px" }); // will add css for the image not to go out of the panel
                                $("#@item.ItemName.Replace(" ", "")@item.BiddingItemID").removeClass("MyAwesomeHoverAbilities"); // Item Picture, removed the hover effect on expired items, so the users cant bid on it anymore
                                $('#@item.ItemName.Replace(" ", "")@Math.Round(item.HighestBidPrice,0)').removeClass("MyAwesomeHoverAbilities"); // Expired Picture, removed the hover effect on expired items, so the users cant bid on it anymore
                                $('#@item.ItemName.Replace(" ", "")@item.BiddingItemID').css({ position: "absolute", left: "43px", top: "54px" }); // will add css for the image not to go out of the panel

                                $('#@item.BiddingItemID').countdown('destroy'); // removed the timer on expired items

                                // If the item is expired it will fadeout then removed
                                $('#@item.ItemName.Replace(" ", "")@item.BiddingItemID@string.Concat("Main")').fadeOut(7500, function () {
                                    $('#@item.ItemName.Replace(" ", "")@item.BiddingItemID@string.Concat("Main")').remove();
                                    alertify.error("@item.ItemName@string.Concat(" is now expired!")");
                                });
                            }
                        }
                        else {
                            $("#@item.ItemName.Replace(" ", "")@item.BiddingItemID").remove(); // will not show expired/sold image if endbid is not today
                        }
                    });
                </script>
            </div>
        </div>
    }
</div>
