@using MVC_Group_Project.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<ul class="nav nav-tabs">
    <li class="active"><a href="#ChangePassword" data-toggle="tab">Change Password</a></li>
    <li><a href="#editProfile" data-toggle="tab">Edit Profile</a></li>
    <li><a href="#AccountBalance" data-toggle="tab">Account Balance</a></li>
</ul>



<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="ChangePassword">
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="editProfile">
        <p> Edit Profile</p>
    </div>


    <div class="tab-pane fade" id="AccountBalance">
        <p> Credit Card</p>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


