@model MVC_Group_Project.Models.BiddingItem

@{
    ViewBag.Title = "BiddingPage";
}

<h2>BiddingPage</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>

    
    <hr />
<div class="row">
    <div class="col-md-4" style="align-content:center">
        <img src="../../@Html.DisplayFor(model => model.ItemImageURL)" class="img-responsive" alt="Responsive image" />
    </div>
        <div class="col-sm-5" >
              <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayFor(model => model.ItemName)</h3>
                    </div>
                    <div class="panel-body" >
                        <form class="form-inline">
                            <div class="form-group">                              
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                    <div class="input-group-addon">.00</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger">Place Bid</button>
                            <div class="form-horizontal">
                                <br />
                                <dl>
                                    <dd>
                                        Number of Bidders:
                                    </dd>
                                    <dt>
                                        [6]
                                    </dt>
                                  
                                    <dd>
                                        Time Left:
                                    </dd>
                                    <dt>
                                        2Hr 24Min 06Sec
                                    </dt>
                                    <dd>
                                        Current Bid:
                                    </dd>
                                    <dt>
                                        $200.00
                                    </dt>
                                </dl>           
                            </div>
                        </form>


                        <dl>
                            @*<dt>
                                Number of Bidders:
                            </dt>
                            <dd>
                                [6]
                            </dd>
                            <dt>
                                Time Left:
                            </dt>
                            <dd>
                                2Hr 24Min 06Sec
                            </dd>
                            <dt>
                                Current Bid:
                            </dt>
                            <dd>
                                $200.00
                            </dd>
                            <dt>
                                <input type="text" id="placebid"  />
                            </dt>*@
                            
                        </dl>                       
                   </div>             
            </div>   
        </div>
</div>

        <hr />

       
        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Sub.SubCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sub.SubCategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemImageURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemImageURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BidStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BidStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BidEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BidEndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BidStartPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BidStartPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HighestBidPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HighestBidPrice)
            </dd>

        </dl>
    </div>*@
<p>  
    @Html.ActionLink("Back to list","Index","Home")
</p>
