@model MVC_Group_Project.Models.OnGoingBids

@{
    ViewBag.Title = "Details";
}

<h2>Item Information</h2>

<div class="form-horizontal">
    <h4>Update Bid:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Item Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedItem.ItemName)
        </dd>

        <dt>
            @Html.DisplayName("Item Description")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedItem.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayName("Image")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedItem.ItemImageURL)
        </dd>

        <dt>
            @Html.DisplayName("Bid Original Price")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedItem.BidStartPrice)
        </dd>

        <dt>
            @Html.DisplayName("Current Bid")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedItem.HighestBidPrice)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.OnGoingBidsID }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
