@model IEnumerable<MVC_Group_Project.Models.OnGoingBids>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedItem.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectedItem.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OnGoingBidsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OnGoingBidsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OnGoingBidsID })
        </td>
    </tr>
}

</table>
